:root 
{
    --color-1: hsl(240, 38%, 20%);
    --color-2: hsl(240, 18%, 77%);
}

html {
    font-size: 18px;
}

body {
    min-height: 100vh;
}


.slider 
{
    font-family:  "Inter", sans-serif;
    color: var(--color-1);
    padding: 1.33em 6.4%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    gap: 3.05em;
    text-align: center;
    min-height: 100vh;
    background-image: url(./images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;

}

.slider, .slider * {
    margin: 0;
    box-sizing: border-box;
}

.slider.slide
{
    animation-name: slide;
    animation-duration: 600ms;
    animation-timing-function: ease-in-out;
}


.slider_img-wrapper {
    padding: 1.66em 10.7% 1.38em 11%;
    background-image: url(./images/pattern-bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.slider_img 
{
    width: 100%;
    max-width: 540px;
}

.slider_btns {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 15px hsla(240, 38%, 20%, 30%);
    border-radius: 50%;;
}

.slider_btn {
    padding: 0.77em 0.94em;
    background-color: white;
    cursor: pointer;
}
.slider_btn--prev {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.slider_btn--next {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.slider_body {
    line-height: 1.33;
    font-weight: 300;
}
.slider_text {
    position: relative;
    max-width: 635px;
    margin-left: auto;
    margin-right: auto;
}

.slider_text::before
 {
    content: '';
    position: absolute;
    left: 50%;
    top: 0px;
    width: 3.33em;
    transform: translate(-50%, -50%);
    background-image: url(./images/pattern-quotes.svg);
    height: 2.77em;
    background-size: cover;
    background-repeat: no-repeat;


 }

 .slider_user {
    margin-top: 1.05em;
    font-size: .83rem;
 }

 .slider_name {
    font-weight: bold;
 }

 .slider_job {
    font-weight: 500;
    color:var(--color-2);
 }


 @media (min-width: 1440px)
 {
    .slider 
    {
        display: grid;
        justify-content: initial;
        grid-template-columns: auto 57.9%;
        grid-template-rows: auto;
        text-align: left;
        align-items: center;
        padding: 0 11.4%;
        background-size: 42%;
    }

    .slider_text {
        margin-left: 0;
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        z-index: 2;
    }
    .slider_body 
    {
        font-size: 1.77rem;
        line-height: 1.375;
    }
    .slider_text::before {
        width: 6.66em;
        height: 5.55em;
        left: 15%;
        transform: translate(0%, -50%);
    }

    .slider_user {
        display: flex;
        align-items: center;
        gap: .55em;
    }
    .slider_name, .slider_job {
        font-size: 1.11rem;
    }

    .slider_img-wrapper {
        grid-column: 2 / -1;
        grid-row:  1 / -1;
    }

    
 

    @keyframes slide {
        0%{
            opacity: 100%;
        }
        50% {
            opacity: 0%;
        }

        100% {
            opacity: 100%;
        }
    }
    
 }